*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
body{
     min-height: 100vh;
     /* background: url(/img/wp7510500.jpg); */
     background-size: cover;
     background-position: center;
}
.container-fluid{
     background-color: rgb(0,0,0,.1);
}
.navbar-nav{
     color: white !important;
     /* background: rgb(180,226,224);
     background: linear-gradient(90deg, rgba(180,226,224,1) 0%, rgba(12,24,135,1) 50%, rgba(44,205,186,1) 100%); */
}
.navbar-nav{
     font-size: 20px;
     
}
.nav-link{
     color: white !important;
}
.dropdown-menu{
     display: none;
}
.nav-item:hover .dropdown-menu{
     display: block;
}
.bi{
     font-size:  2.8rem;
     color: black;
     cursor: pointer;
     right: 5%;
     position: absolute;
}
.card-text{
     overflow: hidden;
     display: -webkit-box;
     -webkit-line-clamp: 3; /* number of lines to show */
               line-clamp: 2; 
     -webkit-box-orient: vertical;
     
}
.card{
     border-radius: 5px ;
     
}
.card
{
  position: relative;
}
.card {
     box-shadow:
     0 2.8px 2.2px rgba(0, 0, 0, 0.034),
     0 6.7px 5.3px rgba(0, 0, 0, 0.048),
     0 12.5px 10px rgba(0, 0, 0, 0.06),
     0 22.3px 17.9px rgba(0, 0, 0, 0.072),
     0 41.8px 33.4px rgba(0, 0, 0, 0.086),
     0 100px 80px rgba(0, 0, 0, 0.12)
     ;
     min-height: 200px;
     width: 50vw;
     margin: 100px auto;
     background: white;
     border-radius: 5px;
}


.box{
     width: 100vw;
     height: 100vh;
     position: fixed;
     left: 0;
     top: 0;
     display: none;
     z-index: 99;
}
.show-box{
     display: block;
}
.mini-box .icon{
     float: right;
     cursor: pointer;
}
.box .mini-box{
     background-color: white;
     position: absolute;
     width: 35%;
     left: 50%;
     top: 50%;
     transform: translate(-50%,-50%);
     padding: 20px;
     border-radius: 20px;
     overflow: hidden;
     padding: 20px 30px;
}
.none-box{
     width: 100%;
     height: 100%;
     position: relative;
     background-color: rgba(70, 67, 67, 0.368);
}
.mini-box .mini-content{
     margin-top: 30px;
     display: block ;
}
footer{
     background-color: #37424e;
 }
 .logo{
     padding: 10px 2em;
 }
 .f1,.f2{
     margin: 30px 3px !important;
     padding: 0 7px !important;
     border: none;
     border-right: 1px solid white;
 }
 .f2 a{
     text-decoration: none;
     color: #5d7799;
 }
 .f3{
     margin: 30px 10px !important;
     border: none;
 }
 .f2 a:hover{
     color: #50af31;
 }
 .c1{
     margin-left: 40px;
 }
 p{
     padding: 0 !important;
 }
.icon {
     position:relative;
     display: flex;
     flex-direction: row;
     margin: 35px 5px;
}
.icon .bi{
     position: absolute;
     top: -18px;
     left: 0;
     color: white;
}
#title{
     margin-left: 60px;
     font-size: 20px;
     color: white;
}
.qr{
     position: absolute;
     right: 350px;
     top: 250px;
}